body{
  background-color: aliceblue
}
.todo-input {
    width: 99%;
    padding: 10px 18px;
    font-size: 18px;
    margin-bottom: 16px;
    
  
    &:focus {
      outline: 0;
    }
  }
  
  .todo-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 0.3s;
  }
  
  .remove-item {
    cursor: pointer;
    margin-left: 14px;
    &:hover {
      color: black;
    }
  }
  
  .todo-item-left { // later
    display: flex;
    align-items: center;
  }
  .todo-item-label {
    padding: 10px;
    border: 1px solid rgba(219, 236, 253, 0.432);
    margin-left: 12px;
  }
  
  .todo-item-edit {
    font-size: 24px;
    color: #2c3e50;
    margin-left: 12px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; //override defaults
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  
    &:focus {
      outline: none;
    }
  }
  
  .completed {
    text-decoration: line-through;
    color: grey;
    border: 1px dotted lightgray ;
  }
  .extra-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    border-top: 1px solid lightgrey;
    padding-top: 14px;
    margin-bottom: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .box {
    border: 1px solid rgba(7, 7, 7, 0.137);
    padding: 10px;
  }
  button {
    font-size: 14px;
    font-weight: 600;
    appearance: none;
    border-radius: 15px;
    justify-content: space-evenly;
    box-shadow: 0 0 ;
    margin: 10px;
    padding: 3px;
    border: none;
    background-color: aliceblue;
    min-width:70px;
    min-height: 30px;
    &:hover {
      background: rgba(190, 216, 238, 0.966);
    }
  
     &:focus {
       outline: none;
     }
    }
  .active {
    background:rgb(83, 94, 243);
  }
  
  // CSS Transitions
  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }